https://www.tensorflow.org/tutorials/load_data/csv

In [1]:
import pandas as pd
import numpy as np

# Make numpy values easier to read.
np.set_printoptions(precision=3, suppress=True)

import tensorflow as tf
from tensorflow.keras import layers
from tensorflow.keras.layers.experimental import preprocessing

In [2]:
abalone_train = pd.read_csv(
    "https://storage.googleapis.com/download.tensorflow.org/data/abalone_train.csv", header=None, 
    names=["Length", "Diameter", "Height", "Whole weight", "Shucked weight",
           "Viscera weight", "Shell weight", "Age"])

abalone_train.head()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Age
0,0.435,0.335,0.110,0.334,0.1355,0.0775,0.0965,7
1,0.585,0.450,0.125,0.874,0.3545,0.2075,0.2250,6
2,0.655,0.510,0.160,1.092,0.3960,0.2825,0.3700,14
3,0.545,0.425,0.125,0.768,0.2940,0.1495,0.2600,16
4,0.545,0.420,0.130,0.879,0.3740,0.1695,0.2300,13

In [3]:
abalone_features = abalone_train.copy()
abalone_labels = abalone_features.pop('Age')

abalone_features = np.array(abalone_features)
abalone_features

array([[0.435, 0.335, 0.11 , ..., 0.136, 0.077, 0.097],
       [0.585, 0.45 , 0.125, ..., 0.354, 0.207, 0.225],
       [0.655, 0.51 , 0.16 , ..., 0.396, 0.282, 0.37 ],
       ...,
       [0.53 , 0.42 , 0.13 , ..., 0.374, 0.167, 0.249],
       [0.395, 0.315, 0.105, ..., 0.118, 0.091, 0.119],
       [0.45 , 0.355, 0.12 , ..., 0.115, 0.067, 0.16 ]])

In [4]:
abalone_model = tf.keras.Sequential([
  layers.Dense(64),
  layers.Dense(1)
])

abalone_model.compile(loss = tf.losses.MeanSquaredError(),
                      optimizer = tf.optimizers.Adam())

abalone_model.fit(abalone_features, abalone_labels, epochs=10)

Epoch 1/10
104/104 [==============================] - 0s 1ms/step - loss: 61.8812
Epoch 2/10
104/104 [==============================] - 0s 942us/step - loss: 12.0424
Epoch 3/10
104/104 [==============================] - 0s 894us/step - loss: 8.8556
Epoch 4/10
104/104 [==============================] - 0s 1ms/step - loss: 8.2839
Epoch 5/10
104/104 [==============================] - 0s 971us/step - loss: 7.7650
Epoch 6/10
104/104 [==============================] - 0s 865us/step - loss: 7.3462
Epoch 7/10
104/104 [==============================] - 0s 951us/step - loss: 7.0392
Epoch 8/10
104/104 [==============================] - 0s 884us/step - loss: 6.8098
Epoch 9/10
104/104 [==============================] - 0s 913us/step - loss: 6.6533
Epoch 10/10
104/104 [==============================] - 0s 1ms/step - loss: 6.5421

In [5]:
# Preprocessing
normalize = preprocessing.Normalization()
normalize.adapt(abalone_features)

norm_abalone_model = tf.keras.Sequential([
  normalize,
  layers.Dense(64),
  layers.Dense(1)
])

norm_abalone_model.compile(loss = tf.losses.MeanSquaredError(),
                           optimizer = tf.optimizers.Adam())

norm_abalone_model.fit(abalone_features, abalone_labels, epochs=10)

Epoch 1/10
104/104 [==============================] - 0s 913us/step - loss: 94.3748
Epoch 2/10
104/104 [==============================] - 0s 913us/step - loss: 55.1997
Epoch 3/10
104/104 [==============================] - 0s 1ms/step - loss: 17.5221
Epoch 4/10
104/104 [==============================] - 0s 1ms/step - loss: 6.1457
Epoch 5/10
104/104 [==============================] - 0s 1ms/step - loss: 5.1811
Epoch 6/10
104/104 [==============================] - 0s 1ms/step - loss: 5.0960
Epoch 7/10
104/104 [==============================] - 0s 1ms/step - loss: 5.0657
Epoch 8/10
104/104 [==============================] - 0s 942us/step - loss: 5.0298
Epoch 9/10
104/104 [==============================] - 0s 894us/step - loss: 5.0141
Epoch 10/10
104/104 [==============================] - 0s 1ms/step - loss: 5.0206

In [6]:
# titanic
titanic = pd.read_csv("https://storage.googleapis.com/tf-datasets/titanic/train.csv")
titanic.head()

,survived,sex,age,n_siblings_spouses,parch,fare,class,deck,embark_town,alone
0,0,male,22.0,1,0,7.2500,Third,unknown,Southampton,n
1,1,female,38.0,1,0,71.2833,First,C,Cherbourg,n
2,1,female,26.0,0,0,7.9250,Third,unknown,Southampton,y
3,1,female,35.0,1,0,53.1000,First,C,Southampton,n
4,0,male,28.0,0,0,8.4583,Third,unknown,Queenstown,y

In [7]:
titanic_features = titanic.copy()
titanic_labels = titanic_features.pop('survived')

# Create a symbolic input
input = tf.keras.Input(shape=(), dtype=tf.float32)

# Do a calculation using is
result = 2*input + 1

# the result doesn't have a value
result

In [8]:
# example
calc = tf.keras.Model(inputs=input, outputs=result)

print(calc(1).numpy())
print(calc(2).numpy())

3.0
5.0

In [9]:
#  building a set of symbolic

inputs = {}

for name, column in titanic_features.items():
    dtype = column.dtype
    if dtype == object:
        dtype = tf.string
    else:
        dtype = tf.float32

    inputs[name] = tf.keras.Input(shape=(1,), name=name, dtype=dtype)

inputs

{'sex': <tf.Tensor 'sex:0' shape=(None, 1) dtype=string>,
 'age': <tf.Tensor 'age:0' shape=(None, 1) dtype=float32>,
 'n_siblings_spouses': <tf.Tensor 'n_siblings_spouses:0' shape=(None, 1) dtype=float32>,
 'parch': <tf.Tensor 'parch:0' shape=(None, 1) dtype=float32>,
 'fare': <tf.Tensor 'fare:0' shape=(None, 1) dtype=float32>,
 'class': <tf.Tensor 'class:0' shape=(None, 1) dtype=string>,
 'deck': <tf.Tensor 'deck:0' shape=(None, 1) dtype=string>,
 'embark_town': <tf.Tensor 'embark_town:0' shape=(None, 1) dtype=string>,
 'alone': <tf.Tensor 'alone:0' shape=(None, 1) dtype=string>}

In [10]:
numeric_inputs = {name:input for name,input in inputs.items()
                  if input.dtype==tf.float32}

x = layers.Concatenate()(list(numeric_inputs.values()))
norm = preprocessing.Normalization()
norm.adapt(np.array(titanic[numeric_inputs.keys()]))
all_numeric_inputs = norm(x)

all_numeric_inputs

In [11]:
preprocessed_inputs = [all_numeric_inputs]
for name, input in inputs.items():
    if input.dtype == tf.float32:
        continue

    lookup = preprocessing.StringLookup(vocabulary=np.unique(titanic_features[name])) # map from strings to integer indices in a vocabulary
    one_hot = preprocessing.CategoryEncoding(max_tokens=lookup.vocab_size()) # convert the indexes into float32 data appropriate for the model.

    x = lookup(input)
    x = one_hot(x)
    preprocessed_inputs.append(x)
    
preprocessed_inputs_cat = layers.Concatenate()(preprocessed_inputs)
titanic_preprocessing = tf.keras.Model(inputs, preprocessed_inputs_cat)
tf.keras.utils.plot_model(model = titanic_preprocessing , rankdir="LR", dpi=72, show_shapes=True)

('Failed to import pydot. You must `pip install pydot` and install graphviz (https://graphviz.gitlab.io/download/), ', 'for `pydotprint` to work.')

In [12]:
titanic_features_dict = {name: np.array(value) for name, value in titanic_features.items()}

def titanic_model(preprocessing_head, inputs):
    body = tf.keras.Sequential([
    layers.Dense(64),
    layers.Dense(1)
    ])

    preprocessed_inputs = preprocessing_head(inputs)
    result = body(preprocessed_inputs)
    model = tf.keras.Model(inputs, result)

    model.compile(loss=tf.losses.BinaryCrossentropy(from_logits=True),
                optimizer=tf.optimizers.Adam())
    return model

titanic_model = titanic_model(titanic_preprocessing, inputs)
titanic_model.fit(x=titanic_features_dict, y=titanic_labels, epochs=10)

titanic_model.save('test')
reloaded = tf.keras.models.load_model('test')

features_dict = {name:values[:1] for name, values in titanic_features_dict.items()}

before = titanic_model(features_dict)
after = reloaded(features_dict)
assert (before-after)<1e-3
print(before)
print(after)

Epoch 1/10
20/20 [==============================] - 0s 2ms/step - loss: 0.5926
Epoch 2/10
20/20 [==============================] - 0s 2ms/step - loss: 0.5235
Epoch 3/10
20/20 [==============================] - 0s 2ms/step - loss: 0.4859
Epoch 4/10
20/20 [==============================] - 0s 2ms/step - loss: 0.4601
Epoch 5/10
20/20 [==============================] - 0s 2ms/step - loss: 0.4449
Epoch 6/10
20/20 [==============================] - 0s 2ms/step - loss: 0.4347
Epoch 7/10
20/20 [==============================] - 0s 2ms/step - loss: 0.4288
Epoch 8/10
20/20 [==============================] - 0s 2ms/step - loss: 0.4251
Epoch 9/10
20/20 [==============================] - 0s 2ms/step - loss: 0.4237
Epoch 10/10
20/20 [==============================] - 0s 2ms/step - loss: 0.4215
WARNING:tensorflow:From C:\Users\Noam\AppData\Roaming\Python\Python37\site-packages\tensorflow\python\training\tracking\tracking.py:111: Model.state_updates (from tensorflow.python.keras.engine.training) is deprecated and will be removed in a future version.
Instructions for updating:
This property should not be used in TensorFlow 2.0, as updates are applied automatically.
WARNING:tensorflow:From C:\Users\Noam\AppData\Roaming\Python\Python37\site-packages\tensorflow\python\training\tracking\tracking.py:111: Layer.updates (from tensorflow.python.keras.engine.base_layer) is deprecated and will be removed in a future version.
Instructions for updating:
This property should not be used in TensorFlow 2.0, as updates are applied automatically.
INFO:tensorflow:Assets written to: test\assets
WARNING:tensorflow:5 out of the last 5 calls to <function recreate_function.<locals>.restored_function_body at 0x0000026CCBBF8C18> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/tutorials/customization/performance#python_or_tensor_args and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
tf.Tensor([[-2.024]], shape=(1, 1), dtype=float32)
tf.Tensor([[-2.024]], shape=(1, 1), dtype=float32)

## Using tf.data

In [14]:
import itertools

def slices(features):
    for i in itertools.count():
        # For each feature take index `i`
        example = {name:values[i] for name, values in features.items()}
        yield example
        
for example in slices(titanic_features_dict):
    for name, value in example.items():
        print(f"{name:19s}: {value}")
    break

sex                : male
age                : 22.0
n_siblings_spouses : 1
parch              : 0
fare               : 7.25
class              : Third
deck               : unknown
embark_town        : Southampton
alone              : n

In [15]:
features_ds = tf.data.Dataset.from_tensor_slices(titanic_features_dict)
for example in features_ds:
    for name, value in example.items():
        print(f"{name:19s}: {value}")
    break

sex                : b'male'
age                : 22.0
n_siblings_spouses : 1
parch              : 0
fare               : 7.25
class              : b'Third'
deck               : b'unknown'
embark_town        : b'Southampton'
alone              : b'n'

In [16]:
titanic_ds = tf.data.Dataset.from_tensor_slices((titanic_features_dict, titanic_labels))
titanic_batches = titanic_ds.shuffle(len(titanic_labels)).batch(32)
titanic_model.fit(titanic_batches, epochs=5)

Epoch 1/5
20/20 [==============================] - 0s 3ms/step - loss: 0.4226
Epoch 2/5
20/20 [==============================] - 0s 9ms/step - loss: 0.4209
Epoch 3/5
20/20 [==============================] - 0s 5ms/step - loss: 0.4197
Epoch 4/5
20/20 [==============================] - 0s 4ms/step - loss: 0.4200
Epoch 5/5
20/20 [==============================] - 0s 3ms/step - loss: 0.4184

In [17]:
# single file
titanic_file_path = tf.keras.utils.get_file("train.csv", "https://storage.googleapis.com/tf-datasets/titanic/train.csv")

titanic_csv_ds = tf.data.experimental.make_csv_dataset(
    titanic_file_path,
    batch_size=5, # Artificially small to make examples easier to show.
    label_name='survived',
    num_epochs=1,
    ignore_errors=True,)

for batch, label in titanic_csv_ds.take(1):
    for key, value in batch.items():
        print(f"{key:20s}: {value}")
    print()
    print(f"{'label':20s}: {label}")

Downloading data from https://storage.googleapis.com/tf-datasets/titanic/train.csv
32768/30874 [===============================] - 0s 3us/step
sex                 : [b'female' b'male' b'male' b'male' b'female']
age                 : [60. 28. 28. 28. 23.]
n_siblings_spouses  : [1 0 0 0 0]
parch               : [0 0 0 0 0]
fare                : [75.25  56.496  8.05   7.896  7.55 ]
class               : [b'First' b'Third' b'Third' b'Third' b'Third']
deck                : [b'D' b'unknown' b'unknown' b'unknown' b'unknown']
embark_town         : [b'Cherbourg' b'Southampton' b'Southampton' b'Southampton' b'Southampton']
alone               : [b'n' b'y' b'y' b'y' b'y']

label               : [1 0 0 0 1]

In [18]:
traffic_volume_csv_gz = tf.keras.utils.get_file(
    'Metro_Interstate_Traffic_Volume.csv.gz', 
    "https://archive.ics.uci.edu/ml/machine-learning-databases/00492/Metro_Interstate_Traffic_Volume.csv.gz",
    cache_dir='.', cache_subdir='traffic')

traffic_volume_csv_gz_ds = tf.data.experimental.make_csv_dataset(
    traffic_volume_csv_gz,
    batch_size=256,
    label_name='traffic_volume',
    num_epochs=1,
    compression_type="GZIP")

for batch, label in traffic_volume_csv_gz_ds.take(1):
    for key, value in batch.items():
        print(f"{key:20s}: {value[:5]}")
    print()
    print(f"{'label':20s}: {label[:5]}")

Downloading data from https://archive.ics.uci.edu/ml/machine-learning-databases/00492/Metro_Interstate_Traffic_Volume.csv.gz
409600/405373 [==============================] - 1s 4us/step
holiday             : [b'None' b'None' b'None' b'None' b'None']
temp                : [293.07 281.81 291.77 280.25 261.  ]
rain_1h             : [0. 0. 0. 0. 0.]
snow_1h             : [0. 0. 0. 0. 0.]
clouds_all          : [88 90 75 20  1]
weather_main        : [b'Thunderstorm' b'Clouds' b'Clouds' b'Clouds' b'Clear']
weather_description : [b'proximity thunderstorm' b'overcast clouds' b'broken clouds'
 b'few clouds' b'sky is clear']
date_time           : [b'2013-06-29 20:00:00' b'2012-10-11 21:00:00' b'2012-10-04 21:00:00'
 b'2012-11-01 13:00:00' b'2013-03-21 10:00:00']

label               : [3250 2679 2822 5189 4433]

## Caching

In [20]:
%%time
for i, (batch, label) in enumerate(traffic_volume_csv_gz_ds.repeat(20)):
    if i % 40 == 0:
        print('.', end='')
print()

...............................................................................................
Wall time: 11.1 s

In [21]:
%%time
caching = traffic_volume_csv_gz_ds.cache().shuffle(1000)

for i, (batch, label) in enumerate(caching.shuffle(1000).repeat(20)):
    if i % 40 == 0:
        print('.', end='')
print()

...............................................................................................
Wall time: 1.53 s

In [22]:
# Multiple files
fonts_zip = tf.keras.utils.get_file(
    'fonts.zip',  "https://archive.ics.uci.edu/ml/machine-learning-databases/00417/fonts.zip",
    cache_dir='.', cache_subdir='fonts',
    extract=True)

import pathlib
font_csvs =  sorted(str(p) for p in pathlib.Path('fonts').glob("*.csv"))

font_csvs[:10], len(font_csvs)

Downloading data from https://archive.ics.uci.edu/ml/machine-learning-databases/00417/fonts.zip
160317440/160313983 [==============================] - 80s 0us/step

(['fonts\\AGENCY.csv',
  'fonts\\ARIAL.csv',
  'fonts\\BAITI.csv',
  'fonts\\BANKGOTHIC.csv',
  'fonts\\BASKERVILLE.csv',
  'fonts\\BAUHAUS.csv',
  'fonts\\BELL.csv',
  'fonts\\BERLIN.csv',
  'fonts\\BERNARD.csv',
  'fonts\\BITSTREAMVERA.csv'],
 153)

In [23]:
fonts_ds = tf.data.experimental.make_csv_dataset(
    file_pattern = "fonts/*.csv",
    batch_size=10, num_epochs=1,
    num_parallel_reads=20,
    shuffle_buffer_size=10000)

for features in fonts_ds.take(1):
    for i, (name, value) in enumerate(features.items()):
        if i>15:
            break
        print(f"{name:20s}: {value}")
print('...')
print(f"[total: {len(features)} features]")

font                : [b'ONYX' b'CAMBRIA' b'CORBEL' b'CAMBRIA' b'BASKERVILLE' b'PALACE'
 b'SCRIPT' b'CAMBRIA' b'GUNPLAY' b'CENTURY']
fontVariant         : [b'ONYX' b'CAMBRIA' b'CORBEL' b'CAMBRIA' b'BASKERVILLE OLD FACE'
 b'PALACE SCRIPT MT' b'SCRIPTS' b'CAMBRIA' b'GUNPLAY'
 b'CENTURY SCHOOLBOOK']
m_label             : [   62 10900   350 10844    97    80   261 10794   190   937]
strength            : [0.4 0.4 0.4 0.4 0.4 0.4 0.4 0.4 0.4 0.4]
italic              : [1 0 0 0 0 1 1 0 0 0]
orientation         : [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
m_top               : [46 27 39 45 51 29 67 63 31 37]
m_left              : [28 25 24 22 22 23 25 25 21 22]
originalH           : [24 72 61 39 28 37 28 17 48 49]
originalW           : [29 40 29 36 27 51 40 40 43 48]
h                   : [20 20 20 20 20 20 20 20 20 20]
w                   : [20 20 20 20 20 20 20 20 20 20]
r0c0                : [  1 220   1   1   1   1   1 255  31   1]
r0c1                : [  1 185   1   1   1   1   1 255 164   1]
r0c2                : [  1 114   2   1  57   1   1 255 255   1]
r0c3                : [  1  78  51   1  73   1   1 255 137   1]
...
[total: 412 features]

## Low level functions

In [24]:
text = pathlib.Path(titanic_file_path).read_text()
lines = text.split('\n')[1:-1]

all_strings = [str()]*10
all_strings

['', '', '', '', '', '', '', '', '', '']

In [27]:
features = tf.io.decode_csv(lines, record_defaults=all_strings) 

for f in features:
    print(f"type: {f.dtype.name}, shape: {f.shape}")

type: string, shape: (627,)
type: string, shape: (627,)
type: string, shape: (627,)
type: string, shape: (627,)
type: string, shape: (627,)
type: string, shape: (627,)
type: string, shape: (627,)
type: string, shape: (627,)
type: string, shape: (627,)
type: string, shape: (627,)

In [32]:
print(lines[0])

0,male,22.0,1,0,7.25,Third,unknown,Southampton,n

In [33]:
titanic_types = [int(), str(), float(), int(), int(), float(), str(), str(), str(), str()]
titanic_types

[0, '', 0.0, 0, 0, 0.0, '', '', '', '']

In [34]:
features = tf.io.decode_csv(lines, record_defaults=titanic_types) 

for f in features:
    print(f"type: {f.dtype.name}, shape: {f.shape}")

type: int32, shape: (627,)
type: string, shape: (627,)
type: float32, shape: (627,)
type: int32, shape: (627,)
type: int32, shape: (627,)
type: float32, shape: (627,)
type: string, shape: (627,)
type: string, shape: (627,)
type: string, shape: (627,)
type: string, shape: (627,)

In [35]:
simple_titanic = tf.data.experimental.CsvDataset(titanic_file_path, record_defaults=titanic_types, header=True)

for example in simple_titanic.take(1):
    print([e.numpy() for e in example])
    
##

def decode_titanic_line(line):
    return tf.io.decode_csv(line, titanic_types)

manual_titanic = (
    # Load the lines of text
    tf.data.TextLineDataset(titanic_file_path)
    # Skip the header row.
    .skip(1)
    # Decode the line.
    .map(decode_titanic_line)
)

for example in manual_titanic.take(1):
    print([e.numpy() for e in example])

[0, b'male', 22.0, 1, 0, 7.25, b'Third', b'unknown', b'Southampton', b'n']
[0, b'male', 22.0, 1, 0, 7.25, b'Third', b'unknown', b'Southampton', b'n']

In [36]:
# multiple files
font_line = pathlib.Path(font_csvs[0]).read_text().splitlines()[1]
print(font_line)

num_font_features = font_line.count(',')+1
font_column_types = [str(), str()] + [float()]*(num_font_features-2)

print(font_csvs[0])

simple_font_ds = tf.data.experimental.CsvDataset(
    font_csvs, 
    record_defaults=font_column_types, 
    header=True)

for row in simple_font_ds.take(10):
    print(row[0].numpy())
    
font_files = tf.data.Dataset.list_files("fonts/*.csv")

##
print('Epoch 1:')
for f in list(font_files)[:5]:
    print("    ", f.numpy())
print('    ...')
print()

print('Epoch 2:')
for f in list(font_files)[:5]:
    print("    ", f.numpy())
print('    ...')

##
def make_font_csv_ds(path):
    return tf.data.experimental.CsvDataset(path, record_defaults=font_column_types, header=True)

font_rows = font_files.interleave(make_font_csv_ds, cycle_length=3)

fonts_dict = {'font_name':[], 'character':[]}

for row in font_rows.take(10):
    fonts_dict['font_name'].append(row[0].numpy().decode())
    fonts_dict['character'].append(chr(row[2].numpy()))

pd.DataFrame(fonts_dict)

AGENCY,AGENCY FB,64258,0.400000,0,0.000000,35,21,51,22,20,20,1,1,1,21,101,210,255,255,255,255,255,255,255,255,255,255,255,255,255,255,1,1,1,93,255,255,255,176,146,146,146,146,146,146,146,146,216,255,255,255,1,1,1,93,255,255,255,70,1,1,1,1,1,1,1,1,163,255,255,255,1,1,1,93,255,255,255,70,1,1,1,1,1,1,1,1,163,255,255,255,1,1,1,93,255,255,255,70,1,1,1,1,1,1,1,1,163,255,255,255,1,1,1,93,255,255,255,70,1,1,1,1,1,1,1,1,163,255,255,255,1,1,1,93,255,255,255,70,1,1,1,1,1,1,1,1,163,255,255,255,141,141,141,182,255,255,255,172,141,141,141,115,1,1,1,1,163,255,255,255,255,255,255,255,255,255,255,255,255,255,255,209,1,1,1,1,163,255,255,255,6,6,6,96,255,255,255,74,6,6,6,5,1,1,1,1,163,255,255,255,1,1,1,93,255,255,255,70,1,1,1,1,1,1,1,1,163,255,255,255,1,1,1,93,255,255,255,70,1,1,1,1,1,1,1,1,163,255,255,255,1,1,1,93,255,255,255,70,1,1,1,1,1,1,1,1,163,255,255,255,1,1,1,93,255,255,255,70,1,1,1,1,1,1,1,1,163,255,255,255,1,1,1,93,255,255,255,70,1,1,1,1,1,1,1,1,163,255,255,255,1,1,1,93,255,255,255,70,1,1,1,1,1,1,1,1,163,255,255,255,1,1,1,93,255,255,255,70,1,1,1,1,1,1,1,1,163,255,255,255,1,1,1,93,255,255,255,70,1,1,1,1,1,1,1,1,163,255,255,255,1,1,1,93,255,255,255,70,1,1,1,1,1,1,1,1,163,255,255,255,1,1,1,93,255,255,255,70,1,1,1,1,1,1,1,1,163,255,255,255
fonts\AGENCY.csv
b'AGENCY'
b'AGENCY'
b'AGENCY'
b'AGENCY'
b'AGENCY'
b'AGENCY'
b'AGENCY'
b'AGENCY'
b'AGENCY'
b'AGENCY'
Epoch 1:
     b'fonts\\YI BAITI.csv'
     b'fonts\\TREBUCHET.csv'
     b'fonts\\BAUHAUS.csv'
     b'fonts\\CENTURY.csv'
     b'fonts\\TW.csv'
    ...

Epoch 2:
     b'fonts\\CASTELLAR.csv'
     b'fonts\\GABRIOLA.csv'
     b'fonts\\BELL.csv'
     b'fonts\\MYANMAR.csv'
     b'fonts\\KRISTEN.csv'
    ...

  font_name character
0   CAMBRIA         ︀
1  GABRIOLA         ﬅ
2     MONEY         2
3   CAMBRIA         ﬄ
4  GABRIOLA         ﬄ
5     MONEY         2
6   CAMBRIA         ﬃ
7  GABRIOLA         ﬃ
8     MONEY         0
9   CAMBRIA         ﬂ

In [37]:
BATCH_SIZE=2048
fonts_ds = tf.data.experimental.make_csv_dataset( file_pattern = "fonts/*.csv", batch_size=BATCH_SIZE, num_epochs=1, num_parallel_reads=100)

In [38]:
%%time
for i,batch in enumerate(fonts_ds.take(20)):
    print('.',end='')

print()

....................
Wall time: 25 s

In [39]:
fonts_files = tf.data.Dataset.list_files("fonts/*.csv")
fonts_lines = fonts_files.interleave(
    lambda fname:tf.data.TextLineDataset(fname).skip(1), 
    cycle_length=100).batch(BATCH_SIZE)

fonts_fast = fonts_lines.map(lambda x: tf.io.decode_csv(x, record_defaults=font_column_types))

In [40]:
%%time
for i,batch in enumerate(fonts_fast.take(20)):
    print('.',end='')

print()

....................
Wall time: 4.35 s